//footer
.footer{
  color: floralwhite;
  background-color: darkblue;
  margin-top: 100px;
  height: 100px;
}
.footertext{
  margin-left: 365px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footertext1{
  margin-left: 555px;
  cursor:pointer;
  //text-decoration: underline
}





////mobile
  @media (max-width: 600px) {
    //footer
    .footer{
      color: floralwhite;
      background-color: darkblue;
      margin-top: 100px;
      height: 100px;
      width: 175%;
    }
    .footertext{
      margin-left: 39px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .footertext1{
      margin-left: 232px;
    }



  }
