<section>
<div class="row parent-container">
  <!--<div class="welcome">-->
    <!--<div  class="menu" >-->
      <!--<button mat-button  routerLink="/Home" >Home</button>-->
      <!--<mat-menu ></mat-menu>-->
      <!--<button mat-button [matMenuTriggerFor]="requestMenu">Request A Tutor</button>-->
      <!--<mat-menu #requestMenu="matMenu" yPosition="below">-->
        <!--<button mat-menu-item>Customer Details</button>-->
        <!--<button mat-menu-item>Subject,Standard & Syllabus </button>-->
        <!--<button mat-menu-item>Prices per hour </button>-->
      <!--</mat-menu>-->

      <!--<button mat-button [matMenuTriggerFor]="aboutMenu" routerLink="/about-us">About Us </button>-->
      <!--<mat-menu #aboutMenu="matMenu" xPosition="before">-->
        <!--<button mat-menu-item>Brand Story</button>-->
        <!--<button mat-menu-item>Subjects,Class & Syllabus</button>-->
        <!--<button mat-menu-item>Vision Mission</button>-->
        <!--<button mat-menu-item>Testimony</button>-->
        <!--<button mat-menu-item>Tutor Details</button>-->
        <!--<button mat-menu-item>Founder Note </button>-->
        <!--<button mat-menu-item>FAQ</button>-->
      <!--</mat-menu>-->
      <!--<button mat-button routerLink="/contact-us">Contact Us</button>-->
      <!--<mat-menu ></mat-menu>-->
    <!--</div>-->


  <!--</div>-->

    <div class="container" >
      <div  class="row text-justify">

        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <h4 class="text-center" >Terms of Use</h4>
        </div>
        <!--<div class="col-sm-2 text-right">-->
        <!--<mat-icon (click)="onNoClick()" style="cursor: pointer">close</mat-icon>-->
        <!--</div>-->
        <div >
          <h3 style="font-size: large;font-weight: bolder">BINDING AGREEMENT</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> This Tuitionhero.my Website is provided to you for your use subject to these Terms. These Terms form a binding agreement between you and Tuitionhero.my. By accessing or using the Tuitionhero.my Website you agree to accept and/or to be bound by these Terms. you agree to use the Tuitionhero.my Website at your own risk.</li>
            <li> In the case of any conflict between these Terms and any contract you have with Tuitionhero.my, these Terms will take precedent.</li>
            <li> We may update these Terms from time to time for legal or regulatory reasons or to allow the proper operation of the Tuitionhero.my Website. Any changes will be notified to you via a suitable announcement on the Tuitionhero.my Website. The changes will apply to the use of the Tuitionhero.my Website after we have given you notice. If you do not wish to accept the new Terms you should not continue to use the Tuitionhero.my Website. If you continue to use the Tuitionhero.my Website after the date on which the change comes into effect, your use of the Tuitionhero.my Website indicates your agreement to be bound by the new Terms.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">DEFINITIONS</h3>
          <ol style="list-style-type: lower-alpha !important;margin-top: 0px;font-size: small;">
            <li> “<strong>Design</strong>” includes the color combinations and the page layout of the Tuitionhero.my Website.</li>
            <li> “<strong>Graphics</strong>” includes all logos, button icons, and other graphical elements on the Tuitionhero.my Website, with the exception of paid advertising banners.</li>
            <li> “<strong>Company Profiles</strong>” means profile created by Employers.</li>
            <li> “<strong>Tuitionhero.my</strong>” means Hero Education Sdn Bhd or any other subsidiaries of Hero Education Sdn Bhd.</li>
            <li> “<strong>Tuitionhero.my Content</strong>” includes all Text, Graphics, Design, Programming, information, images, video, audio files, software and other contents used on the Tuitionhero.my Website or obtained directly or indirectly as a result of the use of Tuitionhero.my Website.</li>
            <li> “<strong>Tuitionhero.my Database</strong>” or “<strong>Tuitionhero.my Databases</strong>” includes all job advertisement posted on Tuitionhero.my Websites and/or all information registered with Tuitionhero.my.</li>
            <li> “<strong>Tuitionhero.my Profile</strong>” or “<strong>Tuitionhero.my Profiles</strong>” means the profile created by Candidates that may include personal information, resume and photo.</li>
            <li> “<strong>Tuitionhero.my Resume Database</strong>” or “<strong>Resume Database</strong>” means the candidates Tuitionhero.my Profiles and resume created and/or uploaded into Tuitionhero.my databases.</li>
            <li> “<strong>Tuitionhero.my Services</strong>” means any services provided by Tuitionhero.my or its agents including:-</li>
            <li> the provision of tuition service site, including posting and searching for tuition or employment opportunities, and creating Tuitionhero.my Profiles which may include personal information;</li>
            <li> matching of job specifications with potential candidate Tuitionhero.my Profiles;</li>
            <li> “<strong>Tuitionhero.my Website</strong>” means any website under Tuitionhero.my’s control, including:Tuitionhero.my Mobile Applications.</li>
            <li> “<strong>Profiles</strong>” means individual profiles created by Users and/or Candidates or company profiles created by Employers.</li>
            <li> “<strong>Text</strong>” includes all text on every page of the Tuitionhero.my Website, whether editorial, navigational, or instructional.</li>
            <li> “<strong>Tutors</strong>” includes all parties provide tuition services.</li>
            <li> “<strong>User</strong>” refers to any individual or entity that uses any aspect of the Tuitionhero.my Website and/or Tuitionhero.my Services.</li>
            <li> “<strong>User Content</strong>” means all information, data, text, software, music, sound, photographs, graphics, video, advertisements, messages or other materials submitted, posted or displayed by Users on or through Tuitionhero.my Website.</li>
            <li> “<strong>You</strong>” or “<strong>you</strong>” means the person who (or the entity on behalf of whom you are acting) that is agreeing to these Terms.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">REGISTRATION</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> To register on the Tuitionhero.my Website you must be 18 years of age or above.</li>
            <li> You must ensure that the details provided by you on registration or at any time are correct and complete.</li>
            <li> You must inform us immediately of any changes to the information that you provided when registering by updating your personal details in order that we can communicate with you effectively.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">PASSWORD AND SECURITY</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> When you register to use the Tuitionhero.my Website you will be asked to create a password. In order to prevent fraud, you must keep this password confidential and must not disclose it or share it with anyone. If you know or suspect that someone else knows your password you should notify us by contacting us immediately.</li>
            <li> If Tuitionhero.my has reason to believe that there is likely to be a breach of security or misuse of the Tuitionhero.my Website, we may require you to change your password or we may suspend your account.</li>
            <li>  As a result of your loss of your Password or the misuse of the Tuitionhero.my Website:-</li>
            <ol style="list-style-type: lower-alpha !important;font-size: small;">
              <li> all losses or damage incurred thereby shall be borne by you; and</li>
              <li> you shall fully indemnify Tuitionhero.my should Tuitionhero.my suffer any loss or damage.</li>
            </ol>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> INTELLECTUAL PROPERTY</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> Tuitionhero.my Website, Tuitionhero.my Content, and all right, title and interest in and to Tuitionhero.my Website and Tuitionhero.my Content are the exclusive property of Tuitionhero.my or its licensors.</li>
            <li> The User shall hold in confidence all Confidential Information that Tuitionhero.my discloses to it in accordance with the Terms and shall use the Confidential Information in accordance with the Terms and solely for the Purpose in the Terms.</li>
            <li> Tuitionhero.my Website and Tuitionhero.my Content are protected by copyright, trade mark, database right and other intellectual property rights.</li>
            <li> You may retrieve and display Tuitionhero.my. Content of the Tuitionhero.my Website on a computer screen or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or Tuitionhero.my Content on the Tuitionhero.my Website without written permission from Tuitionhero.my.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">  AVAILABILITY OF THE TUITIONHERO.MY WEBSITE</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> Although we aim to offer you the best service possible, we make no promise that the services at the Tuitionhero.my Website will meet your requirements.</li>
            <li> We cannot guarantee that the Tuitionhero.my Website will be fault-free, error-free, or that Tuitionhero.my Website and servers are free of viruses or other harmful mechanisms. If a fault occurs with the Tuitionhero.my Website you should report it here and we will attempt to correct the fault as soon as we can.</li>
            <li>   Your access to the Tuitionhero.my Website may be occasionally restricted to allow for repairs, maintenance or the introduction of new content, facilities or services. We will attempt to restore access and/or service as soon as we reasonably can.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> YOUR USE OF THE TUITIONHERO.MY WEBSITE</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> Tuitionhero.my hereby grants you a limited, terminable, non-exclusive right to access and use Tuitionhero.my Website only for your personal use and/or employment purposes.</li>
            <li> You may not use the Tuitionhero.my Website for any of the following purposes:-</li>
            <ol style="list-style-type: lower-alpha !important;font-size: small;">
              <li> disseminating any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material or otherwise breaching any laws;</li>
              <li> aggregating, copying or duplicating in any manner any of the Tuitionhero.my Content or information available from any Tuitionhero.my Website, including expired job postings;</li>
              <li> reproducing any of the Tuitionhero.my Content for general use;</li>
              <li> link to any Tuitionhero.my Content or information available from any Tuitionhero.my Website;</li>
              <li> transmitting material that encourages conduct that constitutes a criminal offence, or otherwise breaches any applicable laws, regulations or code of practice;</li>
              <li> interfering with any other person’s use or enjoyment of the Tuitionhero.my Website; or</li>
              <li> making, transmitting or storing electronic copies of materials protected by copyright without the permission of the owner.</li>
              <li> You agree not to resell or assign your rights or obligations under these Terms. You also agree not to make any unauthorized commercial use of any Tuitionhero.my Website.</li>
            </ol>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">  YOUR USE OF THE TUITIONHERO.MY SERVICES</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> The Tuitionhero.my Services may be used only by:</li>
            <ol style="list-style-type: lower-alpha !important;font-size: small;">
              <li> individuals seeking employment opportunity to provide tuition service; and</li>
              <li> potential customers seeking for tuition services.</li>
            </ol>
            <li> Your use of the Tuitionhero.my Services is also subject to any other contracts you may have with Tuitionhero.my. In the case of any conflict between these Terms and any contract you have with Tuitionhero.my, these Terms will prevail.</li>
            <li>   All Users agree to not:-</li>
            <ol style="list-style-type: lower-alpha !important;font-size: small;">
              <li>  transmit, post, distribute, store or destroy material, including without limitation Tuitionhero.my Content, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of personal information, or in breach of Tuitionhero.my’s PDPA Notice;</li>
              <li> violate or attempt to violate the security of any Tuitionhero.my Website;</li>
              <li>  aggregate, copy or duplicate in any matter any of the Tuitionhero.my Content or information available from any Tuitionhero.my Website, other than as permitted by these Terms;</li>
              <li> post any content or material that facilitates, promotes or endorses scams, false or misleading information or illegal activities, OR endorses or provides instructional information about illegal activities or other activities prohibited by these Terms, OR promotes or endorses any political views;</li>
              <li> share with a third party any login credentials to any Tuitionhero.my Website;</li>
              <li> access data not intended for you or logging into a server or account which you are not authorized to access;</li>
              <li> post or submit to any Tuitionhero.my Website any inaccurate, incomplete, misleading, false, not up to date biographical information or information which is not your own;</li>
              <li> post content that contains restricted or password-only access pages, or hidden pages or images; or</li>
              <li>  use the Tuitionhero.my Services for any unlawful purpose or illegal activity, or post or submit any content, profile or information that is defamatory, libelous, implicitly or explicitly offensive, vulgar, obscene, threatening, harassing, abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or sexually explicit material of any kind, as determined by Tuitionhero.my’s discretion; or</li>
              <li>   Violations of network security may result in civil and/or criminal liability. Tuitionhero.my will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting Users who are involved in such violations.</li>
            </ol>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">  ADDITIONAL TERMS APPLICABLE TO POTENTIAL TUTORS AND EXISTING TUTOR</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li>  Tuitionhero.my hereby grants you a limited, terminable, non-exclusive right to access and use Tuitionhero.my Website only for your personal use seeking employment opportunities for yourself. This authorizes you to view the Tuitionhero.my Content or material on Tuitionhero.my Website solely for your personal, non-commercial use.</li>
            <li> When you register with any Tuitionhero.my Website, you will be asked to create an account and provide Tuitionhero.my with certain information including a valid email address.</li>
            <li>  Any Tuitionhero.my Profile you submit must be accurate, complete, up to date and not misleading. The Tuitionhero.my Profile requires standard fields to be completed by you. You may not impersonate another person, living or dead.</li>
            <li>  You acknowledge and agree that you are solely responsible for the form, content and accuracy of any Tuitionhero.my Profile and resume or material contained therein placed by you on the Tuitionhero.my Website.</li>
            <li>  You acknowledge and agree that you are solely responsible for any consequences arising from such posting.</li>
            <li> Please see Tuitionhero.my’s PDPA Notice, for further details regarding your information. Please note, as set forth in the Tuitionhero.my’s PDPA <span style="cursor: pointer;color: blue;font-size: 15px;;text-decoration: underline" (click)="noticelink()">Notice</span>, that Tuitionhero.my may collect certain User information and may contact Users periodically in accordance with the terms of the PDPA <span style="cursor: pointer;color: blue;font-size: 15px;;text-decoration: underline" (click)="noticelink()">Notice</span>. In addition, Tuitionhero.my reserves the right to comply, in its sole discretion, with legal requirements, requests from law enforcement agencies or requests from government entities, even to the extent that such compliance may require disclosure of certain User information.</li>
            <li> You understand and acknowledge that all information provided by you, your Tuitionhero.my Profile, resume, and/or account information shall be disclosed to prospective employers or customers of Tuitionhero.my.</li>
            <li>  You understand and acknowledge that you have no ownership rights in your account and that if you cancel your Tuitionhero.my account or your Tuitionhero.my Account is terminated, all your account information from Tuitionhero.my, including Tuitionhero.my Profile, resumes, cover letters, saved jobs, will be marked as deleted in and may be deleted from Tuitionhero.my Databases and will be removed from any public area of the Tuitionhero.my Website. Information may continue to be available for some period of time because of delays in propagating such deletion through Tuitionhero.my’s web servers. In addition, third parties may retain saved copies of your information.</li>
            <li>  Tuitionhero.my reserves the right to delete your account and all of your information after a significant duration of inactivity.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> USER CONTENT AND SUBMISSIONS</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> You understand that all User Content is the sole responsibility of the person from which such User Content originated.</li>
            <li> You understand and acknowledge that all information provided by you, your Tuitionhero.my Profile, resume, and/or account information shall be stored in Tuitionhero.my Databases and/or Tuitionhero.my Resume Databases.</li>
            <li> You understand, acknowledge and consent that all information provided by you, your Tuitionhero.my Profile, resume, and/or account information may be transferred to countries outside of your location for the purposes of storing and/or processing. Please see Tuitionhero.my’s PDPA Notice, for further details.</li>
            <li> By submitting, posting or displaying User Content on or through Tuitionhero.my Website, you grant Tuitionhero.my, subject to your privacy setting, a worldwide, non-exclusive, royalty-free license to reproduce, adapt, distribute and publish such User Content through Tuitionhero.my Website. Tuitionhero.my will discontinue this licensed use within a commercially reasonable period after such User Content is removed from Tuitionhero.my Website. Tuitionhero.my reserves the right to refuse to accept, post, display or transmit any User Content in its sole discretion.</li>
            <li> If you post User Content in any public area of any Tuitionhero.my Website, you also permit any User to access, view, store and reproduce such User Content for personal use.</li>
            <li> Tuitionhero.my may review and remove any User Content that, in its sole judgment, violates these Terms, violates applicable laws, rules or regulations, is abusive, disruptive, offensive or illegal, or violates the rights of, or harms or threatens the safety of, Users of any Tuitionhero.my Website. Tuitionhero.my reserves the right to expel Users and prevent their further access to the Tuitionhero.my Website and/or use of Tuitionhero.my Services for violating the Terms or applicable laws, rules or regulations. Tuitionhero.my may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for Tuitionhero.my, damage Tuitionhero.my’s brand or public image, or cause Tuitionhero.my to lose Users.</li>
            <li> Tuitionhero.my does not represent or guarantee the truthfulness, accuracy, or reliability of User Content, derivative works from User Content, or any other communications posted by Users nor does Tuitionhero.my endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at your own risk.</li>
          </ol>


          <h3 style="font-size: large;font-weight: bolder"> PAYMENT OF FEES</h3>
          <div class="w-100">
            <ol style="list-style-type: initial !important;font-size: small;">
              <li>All amounts owed to Tuitionhero.my must be paid within the specified payment terms.</li>
              <li>Tuitionhero.my may charge interest at 8% per annum on any late payment.</li>
              <li> All prices quoted are inclusive of any applicable taxes unless specifically noted otherwise.</li>
            </ol>
          </div>

          <h3 style="font-size: large;font-weight: bolder"> TUITIONHERO.MY’S RIGHT TO SUSPEND OR CANCEL YOUR REGISTRATION</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> We may suspend or cancel your registration immediately at our reasonable discretion or if you breach any of your obligations under these Terms.</li>
            <li> You can cancel your registration at any time by informing us in writing here. If you do so, you must stop using the Tuitionhero.my Website.</li>
            <li> The suspension or cancellation of your registration and your right to use the Tuitionhero.my Website shall not affect either party’s statutory rights or liabilities.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">TERM AND TERMINATION</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> These Terms will remain in full force and effect while you are a user of any Tuitionhero.my Website.</li>
            <li> Tuitionhero.my reserves the right, at its sole discretion, to pursue all of its legal remedies, including but not limited to removal of your User Content from the Tuitionhero.my Website and immediate termination of your registration with or ability to access the Tuitionhero.my Website and/or any other services provided to you by Tuitionhero.my, upon any breach by you of these Terms or if Tuitionhero.my is unable to verify or authenticate any information you submit to a Tuitionhero.my Website registration.</li>
            <li> Even after you are no longer a User of the Tuitionhero.my Website, provisions of these Terms will remain in effect.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">TUITIONHERO.MY’S LIABILITY</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> Tuitionhero.my does not screen or censor the listings, including Tuitionhero.my Profiles offered. Tuitionhero.my is not involved in the actual transaction between employers and candidates. As a result, Tuitionhero.my is not responsible for User Content, the quality, safety or legality of the jobs or Tuitionhero.my or resumes posted, the truth or accuracy of the listings, the ability of employers to offer job opportunities to candidates or the ability of candidates to fill job openings and Tuitionhero.my makes no representations about any jobs, Tuitionhero.my Profiles, resumes or User Content on the Tuitionhero.my Website.</li>
            <li> Tuitionhero.my reserves the right in its sole discretion to remove any User Content including but not limited to Tuitionhero.my Profiles, Company Profiles, Employer Materials, or other material from the Tuitionhero.my Website from time to time. When Tuitionhero.my exercises this discretion and there is a breach of these Terms by the User, any payment made by the User will be forfeited.</li>
            <li> The Tuitionhero.my Website also provides content from other internet sites or resources and while Tuitionhero.my tries to ensure that material included on the Tuitionhero.my Website is correct, reputable and of high quality, it does not make any warranties or guarantees in relation to that content. If Tuitionhero.my is informed of any inaccuracies in the material on the Tuitionhero.my Website we will attempt to correct the inaccuracies as soon as we reasonably can.</li>
            <li> Note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, underage persons or people acting under false pretenses. You assume all risks associated with dealing with other users with whom you come in contact through the Tuitionhero.my Website. By its very nature other people’s information may be offensive, harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. We expect that you will use caution and common sense when using the Tuitionhero.my Website.</li>
            <li> Tuitionhero.my Website and Tuitionhero.my Content may contain inaccuracies or typographical errors. Tuitionhero.my makes no representations about the accuracy, reliability, completeness, or timeliness of any Tuitionhero.my Website or the Tuitionhero.my Content. The use of all Tuitionhero.my Website and the Tuitionhero.my Content is at your own risk.</li>
            <li> Nothing on Tuitionhero.my Website shall be considered an endorsement, representation or warranty with respect to any User or third party, whether in regards to its web sites, products, services, experience, employment or quality of services, or otherwise.</li>
            <li> If we are in breach of these Terms, we will only be responsible for any losses that you suffer as a direct result and to the extent that they are a foreseeable consequence to both of us at the time you use the Tuitionhero.my Website. Our liability shall not in any event include business losses such as lost data, lost profits or business interruption.</li>
            <li> The aggregate liability by Tuitionhero.my to you for all claims arising from your use of Tuitionhero.my Website and/or Tuitionhero.my Services shall be limited to the amount of the existing fee paid and operative at that time, or in the event no fees are paid, shall be limited to RM100.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">DISCLAIMERS</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> Tuitionhero.my shall not be liable for any loss of information howsoever caused as a result of any interruption, suspension or termination of Tuitionhero.my Services or for Tuitionhero.my Content, accuracy or quality of information available or transmitted through Tuitionhero.my Services.</li>
            <li> You acknowledge and agree that it is not Tuitionhero.my’s policy to exercise editorial control over and to edit or amend any data or contents of any emails or posting or any information that may be inserted or made available or transmitted to or from a third party in or through Tuitionhero.my Website and/or Tuitionhero.my Services.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> THIRD PARTY WEBSITE</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> As a convenience to customers, the Tuitionhero.my Website includes links to other web sites or material which are beyond its control. Tuitionhero.my is not responsible for content on any site outside the Tuitionhero.my Website.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder">INDEMNITY</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> You agree to defend, indemnify, and hold harmless Tuitionhero.my, and its affiliates, and their respective officers, directors, employees, and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from:-</li>
            <ol style="list-style-type: lower-alpha !important;font-size: small;">
              <li> any User Content or other material you provide to any Tuitionhero.my Website;</li>
              <li>  Your use of any Tuitionhero.my Content; or</li>
              <li>  Your breach of these Terms.</li>
            </ol>
            <li> Tuitionhero.my shall provide notice to you promptly of any such claim, suit or proceeding.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> REFUND</h3>
          <div class="w-100">
            <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
              <li>  Any refund of payment made to Tuitionhero.my shall be at the sole discretion of Tuitionhero.my.</li>
            </ol>
          </div>


          <h3 style="font-size: large;font-weight: bolder">APPLICABLE LAW</h3>
          <div class="w-100">
            <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
              <li>  These Terms will be subject to the laws of Malaysia.</li>
              <li> We will try to solve any disagreements quickly and efficiently. If you are not happy with the way we deal with any disagreement and you want to take court proceedings, you must do so within Malaysia.</li>
            </ol>
          </div>

          <h3 style="font-size: large;font-weight: bolder">INTERNATIONAL USE</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li>   We make no promise that materials on the Tuitionhero.my Website are appropriate or available for use in your location, and accessing the Tuitionhero.my Website from territories where its contents are illegal or unlawful is prohibited. If you choose to access this Tuitionhero.my Website from your location, you do so on your own initiative and are responsible for compliance with local laws.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> MISCELLANEOUS</h3>
          <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
            <li> You may not transfer any of your rights under these Terms to any other person. We may transfer our rights under these Terms to another business where we reasonably believe your rights will not be affected.</li>
            <li> If you breach these Terms and Tuitionhero.my chooses to ignore this, Tuitionhero.my will still be entitled to use its rights and remedies at a later date or in any other situation where you breach the Terms.</li>
            <li>  Tuitionhero.my shall not be responsible for any breach of these Terms caused by circumstances beyond its reasonable control.</li>
            <li>   If any of these Terms shall be found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, the invalidity or unenforceability of such provision shall not affect the other provisions of these Terms and all provision not affected by such invalidity or unenforceability shall remain in full force and effect.</li>
          </ol>

          <h3 style="font-size: large;font-weight: bolder"> GENERAL</h3>
          <div class="w-100">
            <ol style="list-style-type: initial !important;margin-top: 0px;font-size: small;">
              <li> The Tuitionhero.my Website is owned and operated by Hero Education Sdn Bhd.</li>
              <li>  If you have any queries please contact us via e-mail.</li>
              <li>  Notices to Tuitionhero.my should be sent to the e-mail address listed on Tuitionhero.my Website.</li>
            </ol>
          </div>



        </div>
      </div>

    </div>

  <!--</section>-->
</div>

</section>
