<section class="header">
  <div class="welcome">
    <div  class="menu" >
      <button mat-button  routerLink="/Home" >Home</button>
      <mat-menu ></mat-menu>
      <button mat-button [matMenuTriggerFor]="requestMenu">Request A Tutor</button>
      <mat-menu #requestMenu="matMenu" yPosition="below">
        <button mat-menu-item>Customer Details</button>
        <button mat-menu-item>Subject,Standard & Syllabus </button>
        <button mat-menu-item>Prices per hour </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="aboutMenu">About Us </button>
      <mat-menu #aboutMenu="matMenu" xPosition="before">
        <button mat-menu-item>Brand Story</button>
        <button mat-menu-item>Subjects,Class & Syllabus</button>
        <button mat-menu-item>Vision Mission</button>
        <button mat-menu-item>Testimony</button>
        <button mat-menu-item>Tutor Details</button>
        <button mat-menu-item>Founder Note </button>
        <button mat-menu-item>FAQ</button>
      </mat-menu>
      <button mat-button routerLink="/contact-us">Contact Us</button>
      <mat-menu ></mat-menu>
    </div>

  </div>
</section>





<section class="footer">
  <h2 class="footertext">Copyright © 2015-2020 Hero Education Sdn Bhd (1200990-X)</h2>
  <p  class="footertext1">Privacy Policy Terms of use</p>
</section>
