.title{
  font-family: "adobe-garamond-pro";
  font-size: 32px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  white-space: pre-wrap;
}
.text{
  text-align: center;
  white-space: pre-wrap;
  font-family: "adobe-garamond-pro";
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: rgba(26,26,26,.7);


}
.alig{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}
