<section>
  <div class="container">
    <mat-card style="margin-top: 50px">
    <h2 class="title">AREAS COVERED</h2>
    <p class="text alig">
      ALL AREAS IN KUALA LUMPUR / SELANGOR / SEREMBAN / PENANG / JOHOR
    </p>
    <h2 class="title">SUBJECTS COVERED</h2>
    <p class="text alig">
      MALAY, ENGLISH, MANDARIN, MATHS, SCIENCE, HISTORY, GEOGRAPHY, PHYSIC, CHEMISTRY, BIOLOGY, ADD MATHS, ACCOUNTS AND ALMOST ALL ACADEMIC SUBJECTS
    </p>
    <h2 class="title">LEVELS COVERED</h2>
    <p class="text alig">
      KINDERGARTEN, PRIMARY, SECONDARY, FOUNDATION, DIPLOMA AND DEGREE
    </p>
    <h2 class="title">SYLLABUS COVERED</h2>
    <p class="text alig">
      UPSR, PT3, SPM, IGCSE, UEC, IB AND OTHER INTERNATIONAL SYLLABUS / A-LEVEL, SAM AND OTHERS / DIPLOMA & DEGREE SYLLABUS
    </p>
    <h2 class="title">ALSO COVER</h2>
    <p class="text alig">
      EXAM PREPARATION / KIDS OR ADULTS LANGUAGE LEARNING
    </p>
    </mat-card>
  </div>
</section>
<section>
  <div class="container">
    <mat-card style="margin-top: 50px">
    <h2 class="title">CALCULATE HOME TUITION FEES</h2>
    <p class="text alig">
      For 1 subject we suggest 1 day x 1.5 - 2 hours/week.
    </p>
    <p class="text alig">
      For 2 subjects we suggest 2 days x 1.5 - 2 hours/week or minimum 1 day x 2 hours/week.
    </p>
    <p class="text alig">
      For 3 subjects we suggest 3 days x 1.5 - 2 hours/week or minimum 2 days x 1.5 hours/week.
    </p>
      <p class="text alig"></p>
      <mat-form-field appearance="fill">
        <mat-label>Please select the syllabus</mat-label>
        <mat-select >
          <mat-option >Preschool(3-6YO)</mat-option>
          <mat-option >National syllabus(Std 1 to STPM)</mat-option>
          <mat-option >International syllabus(Primary-Secondary)</mat-option>
          <mat-option >UEC</mat-option>
          <mat-option >Foundation / A level</mat-option>
          <mat-option >Diploma / Degree</mat-option>
          <mat-option >Language Learning</mat-option>
        </mat-select>
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <!--<mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>-->
        <!--<mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">-->
          <!--Your selection is invalid-->
        <!--</mat-error>-->
      </mat-form-field>

    </mat-card>
  </div>
</section>
