video {
  max-width: 100%;
  height: auto;
  filter: brightness(0.802);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 101.2%
}

.w-100 {
  width: 100%;
}

.parent-container {
  position: relative;
}

.video-container {
  z-index: -1;
}

.welcome {
  position: absolute;
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  color: white;
}
button{
  font-size: 20px;
}
.menu{
  margin-left: 645px;
  margin-top: 25px
}
.font{
  margin-left: 65px;
  margin-top: 169px;
  font-size: 38px;
  font-weight: 700;
}

.font1{
  margin-left: 10px;
  margin-top: 100px;
  font-size: 45px;
  font-weight: 900;
}
.font2{
  margin-left: 10px;
  margin-top: 32px;
  font-size: 23px;
  font-weight: 900;
}
.req{
  background-color: lightseagreen;
  height: 60px;
  width: 220px;
  border-radius: 45%;
  margin-top: 50px;
}

//section2
.section2{
  margin-top: 90px
}
.font3{
  margin-left: 480px;
  font-size: 35px;
  margin-bottom: 40px
}
.img1{
  margin-left: 50px
}
.img2{
  margin-left: 700px;
  margin-top: -574px;
}
.para{
  width: 475px;
  margin-top: 10px;
  margin-left: 65px;
}
.para1{
  width: 475px;
  margin-left: 718px;
  margin-top: -120px;
}
///footer
.footer{
  color: floralwhite;
  background-color: darkblue;
  margin-top: 100px;
  height: 100px;
}
.footertext{
  margin-left: 365px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footertext1{
  margin-left: 555px;

}


////mobile
@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 645px;
  }
  .w-100{
    width: 100%;
  }
  .menu{
    margin-left: 0px;
    margin-top: 3px
  }
  button{
    font-size: 12px;
  }
  .font{
    margin-left: 0px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
  }
  .font1{
    margin-left: 0px;
    margin-top: -14px;
    font-size: 15px;
    font-weight: 900;
  }
  .font2{
    margin-left: 0px;
    margin-top: -24px;
    font-size: 12px;
    font-weight: 900;
  }

  //section2..
  .font3{
    margin-left: 175px;
    font-size: 35px;
    margin-bottom: 40px
  }
  .img1{
    margin-left: 60px
  }
  .img2{
    margin-left: 60px;
    margin-top: 80px
  }

  .para1{
    width: 475px;
    margin-left: 60px;
    margin-top: 80px;
  }

  .footer{
    color: floralwhite;
    background-color: darkblue;
    margin-top: 100px;
    height: 100px;
    width: 175%;
  }
  .footertext{
    margin-left: 39px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footertext1{
    margin-left: 232px;
  }


}
