<section>
  <div class="row parent-container">
    <div class="welcome">
      <div  class="menu" >
       <button mat-button  routerLink="/Home" >Home</button>
        <mat-menu ></mat-menu>
        <button mat-button [matMenuTriggerFor]="requestMenu">Request A Tutor</button>
        <mat-menu #requestMenu="matMenu" yPosition="below">
          <button mat-menu-item>Customer Details</button>
          <button mat-menu-item>Subject,Standard & Syllabus </button>
          <button mat-menu-item>Prices per hour </button>
        </mat-menu>

       <button mat-button [matMenuTriggerFor]="aboutMenu" routerLink="/about-us">About Us </button>
        <mat-menu #aboutMenu="matMenu" xPosition="before">
          <button mat-menu-item>Brand Story</button>
          <button mat-menu-item>Subjects,Class & Syllabus</button>
          <button mat-menu-item>Vision Mission</button>
          <button mat-menu-item>Testimony</button>
          <button mat-menu-item>Tutor Details</button>
          <button mat-menu-item>Founder Note </button>
          <button mat-menu-item>FAQ</button>
        </mat-menu>
       <button mat-button routerLink="/contact-us">Contact Us</button>
        <mat-menu ></mat-menu>
      </div>
      <h3 class="font">TUITION HERO MALAYSIA</h3>
      <h1 class="font1">LEARN BETTER WITH TUITION HERO</h1>
      <h2 class="font2"><i>Quality Tutor. Better Result.</i></h2>
      <button mat-button class="req">Request A Tutor</button>
    </div>
    <div class="w-100 video-container">
      <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"  frameborder="0" allowfullscreen  width="100%">
        <source id="mp4"  src="assets/video/tutor10sec.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>

<section class="section2" >
  <h2 class="font3">WHY HOME TUITION?</h2>
  <div class="container-fluid">
    <div class="container-fluid">
      <img class="img1"  src="assets/img/home1.jpeg">
      <div class="para">
      <h3><strong>Results Driven :</strong> With 100% full attention of teaching and guidance from our quality tutors, your kids can achieve so much more than you think.</h3>
      </div>
    </div>
    <div class="container-fluid">
      <img class="img2"  src="assets/img/home2.jpeg">
      <div class="para1">
      <h3><strong>Personal Connection :</strong> Kids learn much better from someone they trust & close with.Our experience tutors can be their best teacher ever.</h3>
      </div>
    </div>
  </div>

</section>


